.suggestions-result {
    position: absolute;
    z-index:1;
  }

.res-grid {
  overflow-wrap:break-word;
}

.facets-text {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  font-size: 10pt;
}

.facets {
  z-index: 100;
  position: absolute;
}

.filter-item:hover {
  cursor: pointer;
}

.selected-filters {
  font-size: 12px;
}

.selected-filters:hover {
  cursor: pointer;
  text-decoration: line-through;
}