.suggestions-result {
    position: absolute;
    z-index:100;
  }
.sort-div:hover {
  cursor: pointer;
}

.res-grid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.facets-text {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.facets {
  z-index: 100;
  position: absolute;
}

.filter-item:hover {
  cursor: pointer;
  font-weight: bolder;
}

.selected-filters:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.suggestion-item:hover {
  cursor: pointer;
  color: teal;
}