.suggestions-result {
    position: absolute;
    z-index:1;
    -webkit-transition: 2s; /* Safari */
    transition: 2s;
  }

.res-grid {
  overflow-wrap:break-word;
}

.facets {
  z-index: 1;
  position: absolute;
}